.tabs {
    &__section {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        @include fdcjc_aic;
    }

    &__header {
        width: 100%;
    }

    &__list {
        @include fdrjsb_aic;
        padding: 0 140px;
    }

    &__content {
        max-width: 1920px;
    }
}
.tab {
    display: none;
    width: 100%;
    &.active {
        display: block;
    }

    &__item {
        font-family: $ff_Rb;
        // text-transform: uppercase;
        font-size: 32px;
        font-weight: 800;
        list-style: none;
    }

    &__link {
        &.active {
            color: green;
        }
    }
        
    & img {
        display: block;
        max-width: 100%;
        height: 90vh;
    }
}

.animation {
    animation: fadeIn;
    animation-duration: 1s;
}